html,body{
	height: 100%;
}
body{
	padding-bottom: 70px;
}
.center {
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 50px;
	margin-bottom: 40px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 26px;
	background-color: #FFF;
}
.text-muted{
	color: #777;
	text-align: center;
}
#actions{
	position: fixed;
	bottom: 200px;
	right: 200px;
}
#mainlinks{
	margin-top: 20px;
	font-size: 50px;
	text-align: center;
}
#scene-wrapper{
	height: 100%;
	position: relative;
}
#fill {
    position:absolute;
    
    background-color:#9ACD32;
}
#contactme{
	text-align: center;
}